<div class="main bg-dark">
    <div class="box">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Business</a></li>
            <li><a href="">Contact us</a></li>
            <li><a href="">Careers</a></li>
            <li><a href="">Teach on Edtech</a></li>
        </ul>
    
        <ul>
            <li><a href="">Blog</a></li>
            <li><a href="">Investors</a></li>
            <li><a href="">Support</a></li>
            <li><a href="">Affiliate</a></li>
            <li><a href="">Terms</a></li>
        </ul>
    
        <ul>
            <li><a href="">Privacy & Policy</a></li>
            <li><a href="">Cookie Settings</a></li>
            <li><a href="">Site Map</a></li>
            <li><a href="">Accessibility</a></li>
            <li><a href="">Developer Options</a></li>
        </ul>
    </div>

    <a routerLink="/dashboard">
        <img class="bottom-image" src="/assets/images/logo.png" alt="">
    </a>
    
</div>
