<div class="root mt-3 content">

    <div class="banner section">
        <div class="heading">
            <h1 class="heading-text typing-text">Jump into <span class="text-primary jump">learning</span> with us</h1>
            <span class="sub-heading">
                If youre new to Edtech, weve got good news: For a limited time, 
            </span>
            <br>
            <span> 
                courses start at just ₹449 for new learners! Shop now.
            </span>
        </div>

        <div class="image">
            <img src="/assets/images/banner1.jpg" alt="">
        </div>
    </div>



    <div class="banner section reverse">
        <div class="heading ms-2">
            <h1 class="heading-text typing-text">View our <span class="text-danger jump">courses</span></h1>
            <span class="sub-heading">
                If youre new to Edtech, weve got good news: For a limited time, 
            </span>
            <br>
            <span> 
                courses start at just ₹449 for new learners! Shop now.
            </span>
        </div>

        <div class="image">
            <img src="/assets/images/study.avif" alt="">
        </div>
    </div>

    <div class="border"></div>

    <div class="top-categories">
        <app-top-category></app-top-category>
    </div>

    <div class="contribute">
        <app-contribute></app-contribute>
    </div>


    <div class="footer mt-2 mt-3">
        <app-footer></app-footer>
    </div>

</div>