
<div class="main mb-3 p-2">
    <h1 class="mt-3 ms-3 text-center">Top <span [style.color]="'red'">Categories</span></h1>


    <div class="category-items grid-container">
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/webd.png" alt="">
                </div>
                <div class="text">
                    <span>Development</span>
                </div>
            </button>
        </div>
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/Marketing.png" alt="">
                </div>
                <div class="text">
                    <span>Marketing</span>
                </div>
            </button>
        </div>
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/it.jpg" alt="">
                </div>
                <div class="text">
                    <span>IT</span>
                </div>
            </button>
        </div>
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/business.jpg" alt="">
                </div>
                <div class="text">
                    <span>Business</span>
                </div>
            </button>
        </div>
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/photo.png" alt="">
                </div>
                <div class="text">
                    <span>Photography</span>
                </div>
            </button>
        </div>
        <div class="grid-item">
            <button class="btn">
                <div class="logo">
                    <img [width]="100" src="/assets/images/Marketing.png" alt="">
                </div>
                <div class="text">
                    <span>Marketing</span>
                </div>
            </button>
        </div>
    </div>
</div>
