<div class="toolbar" [style.width]="toolbarSize()">
  <!-- Organization Logo -->
  <div class="logo">
    <button (click)="shrinkMenu.set(!this.shrinkMenu())" class="ham btn btn-light"><i class="fa-solid fa-bars"></i></button>
    <a routerLink="dashboard">
        <img [width]="logoSize()" src="/assets/images/logo.png" alt="" />
    </a>
  </div>


  <!-- New Links to be added here -->
  <div class="router-links">
    <ul>
        <li  *ngFor="let navItem of standardNavbar">
            <a [routerLink]="navItem.routerLink" routerLinkActive="active-link">{{navItem.item}}</a>
        </li>
    </ul>
  </div>

  <!-- Action like loggin in or Admins and Students both -->
  <div class="utils mb-2">
    <button (click)="signup()" [style.width]="buttonSize()" [class]="widgets[1].color">{{widgets[1].text}}<i class="fa-solid fa-arrow-right"></i></button>
    <button (click)="login()" [style.width]="buttonSize()" [class]="widgets[0].color" >{{widgets[0].text}}<i class="fa-solid fa-arrow-right"></i></button>
  </div>
</div>
